<!DOCTYPE html>
<html>
<head>
  <title>WebScrapper</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,900,100' rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="content">
	 <%= yield %>
  </div>


<%= debug(params) if Rails.env.development? %>
</body>
</html>